<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="Images/favicon.ico">
        <title>The BackStreet | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script >
            var stripePublicKey = '<%= stripePublicKey%>'
            console.log(stripePublicKey)
        </script>
        <script src="store.js" defer></script>
    </head>
    <body>
        <header class="header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="store">STORE</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">The BackStreeT</h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header">MUSIC</h2>
            <div class="shop-items">
                <% items.music.forEach(function(item){ %> 
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" id="<%= item.id %>" src="Images/<%= item.imgName %>" >
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                <% }) %>
            </div>        
        </section>
        <section class="container content-section">
            <h2 class="section-header">MERCH</h2>
            <div class="shop-items">
                <% items.merch.forEach(function(item){ %> 
                    <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" id="<%= item.id %>" src="Images/<%= item.imgName %>"  >
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total" id="cart">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">The BackStreeT</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="Images/soundcloud-white.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://open.spotify.com/" target="_blank">
                            <img src="Images/Spotify Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="Images/Facebook Logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
    <script>
       
        let imgs = document.getElementsByClassName("shop-item-image");

        for (var i = 0; i < imgs.length; i++) {
                  
             imgs[i].addEventListener("mouseover", function() {
                if(this.getAttribute("id") == 1) {
                    this.setAttribute("src", "/Images/tracklist.png")
                }

                if(this.getAttribute("id") == 2){
                    this.setAttribute("src", "/Images/parental.jpeg")
                }

                if(this.getAttribute("id") == 3){
                    this.setAttribute("src", "/Images/tshirt-back.jpeg")
                }  

                if(this.getAttribute("id") == 4){
                    this.setAttribute("src", "/Images/hoodieback1-grey.jpeg")
                }  

            })

            imgs[i].addEventListener("mouseout", function() {
                if(this.getAttribute("id") == 1) {
                    this.setAttribute("src", "/Images/album2.jpg");
                  }

                  if(this.getAttribute("id") == 2) {
                    this.setAttribute("src", "/Images/album1.jpg");
                  }

                  if(this.getAttribute("id") == 3){
                    this.setAttribute("src", "/Images/tshirt-front.jpeg")
                }  

                if(this.getAttribute("id") == 4){
                    this.setAttribute("src", "/Images/hoodie1-grey.jpeg")
                }  

            })
            
        }
        
        let buttons = document.getElementsByClassName("btn btn-primary shop-item-button");
        const target = document.getElementById("cart")
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener('click', function(){
                 target.scrollIntoView({
                    block: 'start',
                    behavior: 'smooth',
                    inline: 'nearest'
                });
            });
        }

        
       
    </script>
</html>