<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="Images/favicon.ico">
        <title>The BackStreeT | About</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <header class="header">
            <nav class="nav main-nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="store">STORE</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">The BackStreeT</h1>
        </header>

        <section class= "section-payment">
            <img src="Images/accept.png" class="success" >
            <p class = "payment-success"> Payment successfull ! <br> 
                    Thank you for your order <%= charge.source.name %> ! </p>
            <div style="text-align: center;">
                 <div style="display: inline-block; text-align: left;">
                    <p class = "payment-billing">     
                            <b style="font-weight: bold; color: black;"> Billing Details : </b><br>
                            <b style="font-weight: bold; color: black;"> Delivery Address : </b><%= charge.source.address_line1 %> <br>
                            <b style="font-weight: bold; color: black;"> City : </b> <%= charge.source.address_city %> <br>
                            <b style="font-weight: bold; color: black;"> ZIP : </b> <%= charge.source.address_zip %> <br>
                            <b style="font-weight: bold; color: black;"> Country : </b> <%= charge.source.address_country %> <br>
                            <b style="font-weight: bold; color: black;"> Amount Paid : </b><%= charge.amount /100 %> $ 
                    </p>
                </div>
            </div>       
            <p class = "payment-success">You will receive an email at <%= email %> with delivery infos</p>
        </section>
        